/* ************************************************************************************** */
/*                                                                                        */																					  
/* Project: GestionStocks                               / $$      /$$ /$$$$$$$$ /$$$$$$   */
/*                  			                        | $$  /$ | $$| $$_____//$$__  $$  */
/* style.css                                     	    | $$ /$$$| $$| $$     |__/  \ $$  */
/*                                                  	| $$/$$ $$ $$| $$$$$     /$$$$$/  */
/* By: vcastell <valeriocastellipro@gmail.com>	        | $$$$_  $$$$| $$__/    |___  $$  */
/*                                              		| $$$/ \  $$$| $$      /$$  \ $$  */
/* Created: 2022/02/02 10:41:35 vcastell     	        | $$/   \  $$| $$     |  $$$$$$/  */
/* Updated: 2022/02/02 11:21:38 vcastell                |__/     \__/|__/      \______/   */
/*                                                                    				      */
/******************************************************************************************/

table{
	border-collapse: collapse;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	overflow: hidden;
}
tbody tr td{
	font-size: 1.3rem;
}

.bi-pencil:hover{
	color: gold;
}

.bi-trash:hover{
	color: red;
}

#searchBarPriceMin, 
#searchBarPriceMax {
	width: 60px;
	margin: 0 10px;
}
